{sub_dirs, ["rel"]}.

{pre_hooks, [
	{compile, "protoc --erlang_out=. protocol_src/*.proto"},
	{clean, "rm src/*_pb.erl include/*_pb.hrl"}
]}.

{erl_opts,  [{parse_transform, lager_transform}] }.

{deps_dir, "deps"}.

{cover_enabled, true}.

{deps, [
	{libprotobuf, ".*", {git, "https://github.com/Miguel-Barreiro/libprotobuf", "master"}},
	{lager, ".*", {git, "git://github.com/Miguel-Barreiro/lager.git", "master"}},
	{gproc, ".*", {git, "git://github.com/Miguel-Barreiro/gproc.git", "master"}},
    {nodefinder_ec2, ".*", {git, "git://github.com/Miguel-Barreiro/ec2nodefinder.git", "mc_changes"}},
    {gen_leader, ".*", {git, "git://github.com/Miguel-Barreiro/gen_leader.git"}},
    {poolboy, ".*", {git, "git://github.com/Miguel-Barreiro/poolboy.git", "master"}},
	{erlaws, ".*", {git, "git://github.com/Miguel-Barreiro/erlaws.git", "master" }},
	{ejson, ".*", {git, "git://github.com/Miguel-Barreiro/ejson.git", "master"}},
	{ibrowse, ".*", {git, "git://github.com/Miguel-Barreiro/ibrowse.git", "master"}},
	{emysql, ".*", {git, "git://github.com/Miguel-Barreiro/Emysql.git", "master"}}
]}.
