[
	%% SASL config
	{sasl, [
		{sasl_error_logger, {file, "log/sasl-error.log"}},
		{errlog_type, error},
		{error_logger_mf_dir, "log/sasl"},      % Log directory
		{error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
		{error_logger_mf_maxfiles, 5}           % 5 files max
	]},

	{lager, [
	    {handlers, [
		    {lager_console_backend, [debug, {lager_default_formatter, [time," [",severity,"] [",module, ":",function,":",pid,"] ",message,"\n"]}] },
		    {lager_console_backend, info},
	        {lager_file_backend, [
	            {"error.log", error, 10485760, "$D0", 5},
	            {"console.log", info, 10485760, "$D0", 5},
	            {"debug.log", debug, 10485760, "$D0", 5}
	        ]}
	    ]},
	    {lager_log_level, debug}
	]},

	{mc_user_store, [
			{access_key_id, "AKIAJMDRAM4MNDNHUGHA"},
			{secret_access_key, "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"},
			{ddb_host, "dynamodb.eu-west-1.amazonaws.com"},
			{table_user_domain_map, <<"user_domain_map">>},
			{table_user, <<"user">>},
			{table_wallet, <<"wallet">>},
			{table_user_index, <<"user_index">>},
			{table_transaction, <<"transaction">>},
			{table_awards, <<"award">>},
			{table_token, <<"token">>},
			{table_order, <<"order">>},
			{table_uid_map, <<"uid_map">>},
			{table_uid, <<"uid">>},
			{default_wallet, []},
			{default_properties, []},
			{poolboy, [
				{user_store_pool, [
					{size, 20}, 
					{max_overflow, 10},
					{worker_module, user_store_worker}
				]}
			]}
	]},

	{server, [
	        {port, 9001},
	        {ssl_port, 9002},
			{git_branch, "feature/meta_game_changes"},
			{git_commit, "6d101c7b5a9e443e85ae68d41e5ff9ee86f2fb42"}
	]},

	{inets, [
		{services,[{httpc,[{profile, pipelined}]}]}
	]}
].
